{% macro show(url, message) %}
<a href="{{ url }}" class="btn btn-light">
   <i class="glyphicon glyphicon-book"></i><span>{{ message is empty ? 'Ver'|trans : message }}</span>
</a>
{% endmacro %}

{% macro generic(url, message, icon) %}
<a href="{{ url }}" class="btn btn-light">
    {% if icon is not empty %}<i class="glyphicon glyphicon-{{ icon }}"></i>{% endif %}<span>{{ message }}</span>
</a>
{% endmacro %}

{% macro create(url, message) %}
<a href="{{ url }}" class="btn btn-primary">
    <i class="glyphicon glyphicon-plus-sign"></i><span>{{ message is empty ? 'Criar'|trans : message }}</span>
</a>
{% endmacro %}

{% macro edit(url, message) %}
<a href="{{ url }}" class="btn btn-primary">
    <i class="glyphicon glyphicon-pencil"></i><span>{{ message is empty ? 'Editar'|trans : message }}</span>
</a>
{% endmacro %}

{% macro delete(url, message, disabled=false, modal=true) %}
{% if disabled %}
<span class="btn btn-danger disabled">
    <i class="glyphicon glyphicon-trash"></i><span>{{ message is empty ? 'Deletar'|trans : message }}</span>
</span>
{% else %}
<form action="{{ url }}" method="post" class="delete-action-form" novalidate>
    <input type="hidden" name="_method" value="DELETE">
    <button class="btn btn-danger{% if modal %} btn-confirm{% endif %}" type="submit">
        <i class="glyphicon glyphicon-trash"></i> <span>{{ message is empty ? 'Deletar'|trans : message }}</span>
    </button>
</form>
{% endif %}
{% endmacro %}

{% macro enable(url, message, icon, button) %}
<form action="{{ url }}" method="post" class="delete-action-form" novalidate>
    <input type="hidden" name="_method" value="PATCH">
    <button class="btn btn-{{ button|default('success') }}" type="submit">
        <i class="glyphicon glyphicon-{{ icon|default('ok') }}"></i> <span>{{ message is empty ? 'Ativar'|trans : message }}</span>
    </button>
</form>
{% endmacro %}

{% macro disable(url, message, icon, button) %}
<form action="{{ url }}" method="post" class="delete-action-form" novalidate>
    <input type="hidden" name="_method" value="PATCH">
    <button class="btn btn-{{ button|default('danger') }}" type="submit">
        <i class="glyphicon glyphicon-{{ icon|default('remove') }}"></i> <span>{{ message is empty ? 'Desativar'|trans : message }}</span>
    </button>
</form>
{% endmacro %}